<%- include('../partials/header'); %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <body>
        <!-- describe -->
        <div>
            <h2>estate agent</h2>
        </div>
        <div></div>
    </body>
    <%- include('../partials/footer'); %>