<%- include('../partials/header'); %>
    
    <body>
        <!-- describe -->
        <div class="container mt-3">
            <div class="row center-block" style="float: none; margin: auto">
                <div style="margin-top: 10px">
                    <div>
                        <a id="leaseHouse" class="btn btn-secondary btn-lg" style="
                                width: 300px;
                                height: 40px;
                                line-height: 20px;
                                text-align: center;
                            " href="/leaseSystem/landlord/upload">
                            upload estate
                        </a>
                    </div>

                    <!-- describe -->
                    <div>
                        <a id="leaseHouse" class="btn btn-secondary btn-lg btn-block mt-2" style="
                                width: 300px;
                                height: 40px;
                                line-height: 20px;
                                text-align: center;
                            " href="/leaseSystem/landlord/manageEstate">
                            manage estate data
                        </a>
                    </div>

                    <!-- describe -->
                    <!-- <div>
                        <a id="leaseHouse" class="btn btn-secondary btn-lg btn-block mt-2" style="
                                width: 300px;
                                height: 40px;
                                line-height: 20px;
                                text-align: center;
                            " href="/leaseSystem/landlord/agent">
                            estate agent
                        </a>
                    </div> -->

                    <!-- describe -->
                    <!-- <div>
                        <a id="leaseHouse" class="btn btn-secondary btn-lg btn-block mt-2" style="
                                width: 300px;
                                height: 40px;
                                line-height: 20px;
                                text-align: center;
                            " href="/leaseSystem/landlord/rent">
                            rent estate
                        </a>
                    </div> -->
                </div>
            </div>
        </div>

        <!-- user uploaded -->
        <div></div>
    </body>
    <%- include('../partials/footer'); %>