<%- include('../partials/header'); %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <body>

        <!-- describe -->
        <div>
            <h2>rent estate</h2>
        </div>
        <!-- user uploaded -->
        <div></div>
    </body>
    <%- include('../partials/footer'); %>