<%- include('partials/header'); %>  
    <body>
        <!-- describe -->
        <div>
            <h1>estateManage</h1>
            <h2>you can register your house to lease</h2>
        </div>
        <!-- user uploaded -->
        <div></div>
    </body>
    <%- include('partials/footer'); %>