<%- include('partials/header'); %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .canvas_class {
            position: absolute;
            top: 20px;
            left: 0;
            position: relative;
            z-index: 1;
        }

        .div_canvas_class {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>

    <body>
        <!-- describe -->
        <div>
            <h1>estateManage</h1>
            <h2>you can register your house to lease</h2>
        </div>
        <!-- user uploaded -->
        <div></div>
    </body>
    <%- include('partials/footer'); %>