<%- include('partials/header') -%>
    <body>
        <div class="container mt-3">
            <div>
                <h1>test</h1>
            </div>
            <div class="row">
                <div class="col-md-5 center-block" style="float: none; margin: auto">
                    <div style="margin-top: 10px" class="card text-center">
                        <div style="font-size: 1.5rem; font-weight: bold" class="card-header">
                            search house
                        </div>
                        <!-- <div style="margin-top: 20px">
                        <iconify-icon
                            icon="logos:metamask-icon"
                            width="200"
                            style="margin: auto"
                        ></iconify-icon>
                    </div> -->
                        <div class="card-body">
                            <p>description</p>
                            <a id="leaseHouse" class="btn btn-secondary btn-lg btn-block mt-2" style="
                                width: 450px;
                                height: 40px;
                                line-height: 20px;
                                text-align: center;
                            " href="/leaseSystem/searchHouse">
                                click
                        </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 center-block" style="float: none; margin: auto">
                    <div style="margin-top: 10px" class="card text-center">
                        <div style="font-size: 1.5rem; font-weight: bold" class="card-header">
                            landlord
                        </div>
                        <!-- <div style="margin-top: 20px">
                        <iconify-icon
                            icon="logos:metamask-icon"
                            width="200"
                            style="margin: auto"
                        ></iconify-icon>
                    </div> -->
                        <div class="card-body">
                            <p>description</p>
                            <a id="landlord" class="btn btn-secondary btn-lg btn-block mt-2" style="
                                width: 450px;
                                height: 40px;
                                line-height: 20px;
                                text-align: center;" href="/leaseSystem/landlord">
                                click
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 center-block" style="float: none; margin: auto">
                    <div style="margin-top: 10px" class="card text-center">
                        <div style="font-size: 1.5rem; font-weight: bold" class="card-header">
                            Agent
                        </div>
                        <!-- <div style="margin-top: 20px">
                        <iconify-icon
                            icon="logos:metamask-icon"
                            width="200"
                            style="margin: auto"
                        ></iconify-icon>
                    </div> -->
                        <div class="card-body">
                            <p>description</p>
                            <a id="agent" class="btn btn-secondary btn-lg btn-block mt-2" style="
                                width: 450px;
                                height: 40px;
                                line-height: 20px;
                                text-align: center;
                            " href="/leaseSystem/agent">
                                click
                        </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 center-block" style="float: none; margin: auto">
                    <div style="margin-top: 10px" class="card text-center">
                        <div style="font-size: 1.5rem; font-weight: bold" class="card-header">
                            Lease Manage
                        </div>
                        <!-- <div style="margin-top: 20px">
                        <iconify-icon
                            icon="logos:metamask-icon"
                            width="200"
                            style="margin: auto"
                        ></iconify-icon>
                    </div> -->
                        <div class="card-body">
                            <p>description</p>
                            <a id="leaseManage" class="btn btn-secondary btn-lg btn-block mt-2" style="
                                width: 450px;
                                height: 40px;
                                line-height: 20px;
                                text-align: center;
                            " href="/leaseSystem/leaseManage">
                                click
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        var account;
        var require_signature = '<%= require_signature  %>';
        var contract_address = '<%= contract_address  %>';
        const emptyAddress =
            '0x0000000000000000000000000000000000000000000000000000000000000000';

        // //listener
        // async function buildListener() {

        //     $('#leaseHouse').on('click', async function (e) {

        //         $.ajax({
        //             url: '/leaseSystem/leaseHouse',
        //             type: 'GET',
        //         });
        //     })

        //     $('#landlord').on('click', async function (e) {

        //         $.ajax({
        //             url: '/leaseSystem/landlord',
        //             type: 'POST',
        //         });
        //     })

        //     $('#agent').on('click', async function (e) {

        //         $.ajax({
        //             url: '/leaseSystem/agent',
        //             type: 'GET',
        //         });
        //     })

        //     $('#leaseManage').on('click', async function (e) {

        //         $.ajax({
        //             url: '/leaseSystem/leaseManage',
        //             type: 'GET',
        //         });
        //     })

        // }

        // async function main() {
        //     buildListener();
        // }
        // main();
    </script>

    <%- include('partials/footer') -%>