<%- include('partials/header'); %>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
    .canvas_class {
        position: absolute;
        top: 20px;
        left: 0;
        position: relative;
        z-index: 1;
    }
    .div_canvas_class {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<body>
    <div>
        <h1>leaseManage</h1>
    </div>
</body>
<%- include('partials/footer'); %>
